/* Define as variáveis CSS */
:root {
    --background-color: #00090E;
    --text-color: #E1E1E1;
    --primary-color: #81FE88;
    --secondary-color: #888888;
    --tag-color: #17101F;
    --font-family: 'Prompt', sans-serif;
    --itens-background: #171D1F;
}

/* Aplica estilos a todos os elementos CSS */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Aplica estilos ao container do corpo da página */
body {
    background-color: var(--background-color);
    font-family: var(--font-family);
    color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 27px;
    padding: 56px 0;
    height: 100%;
}

/* Estiliza o menu lateral da página */
aside {
    background-color: var(--itens-background);
    border-radius: 10px;
    height: 100%;
    text-align: center;
    padding: 40px 16px;
}

/* Estiliza e posiciona a lista de itens do menu lateral */
.lista-itens {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    gap: 40px;
    margin-top: 80px;
    align-items: center;
}

/* Estiliza e posiciona o conteúdo dos itens da lista do menu lateral */
.lista-itens li a {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    text-decoration: none;
    color: var(--secondary-color);
    font-size: 22px;
}

/* Indica a estilização do primeiro filho do tipo <a> que estiver dentro da <li> */
.lista-itens li:first-of-type a {
    color: var(--primary-color);
}

/* Estilização da classe que está presente no link de destaque do menu lateral */
.link-destaque {
    border: 1px solid var(--primary-color);
    border-radius: 8px;
    padding: 12px 30px;
}

/* Estilização do container que envolve o conteúdo principal da página */
main {
    background-color: var(--itens-background);
    border-radius: 8px;
    padding: 32px;

    display: flex;
    gap: 24px;
}

/* Estilização do container que envolve a imagem e o botão */
.container-image {
    height: 368px;
    padding: 24px 16px;
    background-color: var(--secondary-color);
    border-radius: 8px;
}

/* Estilização do container que envolve apenas a imagem */
.main-image {
    border-radius: 8px;
    height: 100%;

    /* Redimensiona a imagem sem deixar espaços em branco no container mas sem perder sua proporção */
    object-fit: cover;
}

/* Aplica estilos ao botão de upload de imagem */
.container-upload-image button {
    width: 100%;
    border-radius: 8px;
    background-color: var(--itens-background);
    margin: 16px 0 8px 0;
    border: 1px solid var(--secondary-color);
    color: var(--secondary-color);
    text-align: center;
    padding: 12px;
    font-size: 18px;
    font-weight: 600;
    font-family: var(--font-family);
    /* O position: relative é utilizado para posicionar o ícone presente ao lado do nome "Carregar imagem" */
    position: relative; 
}


.container-upload-image button::after {
    /* O position: absolute posiciona o elemento em relação ao seu elemento pai, neste caso o botão container-upload-image */
    position: absolute;
    /* O content está vazio para posteriormente adicionar uma imagem */
    content: "";

    /* Dimensões do ícone */
    width: 15px;
    height: 15px;

    /* Adicionando a imagem */
    background-image: url(./img/upload.svg);
    background-repeat: no-repeat;
    background-size: contain;

    /* Posicionamento do ícone */
    top: 50%;
    /* Posiciona o ícone no eixo Y recuando 50% */
    transform: translateY(-50%);
    margin-left: 8px;
}

/* Aplicando estilos ao nome da imagem */
.container-image-nome {
    display: flex;
    gap: 8px;
    color: var(--secondary-color);
    font-size: 15px;
}

/* Largura do container de descrição da imagem */
.container-descricao {
    width: 422px;
}

h2 {
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 40px;
}

/* Estilização do formulário */
form {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

/* Estilização do rótulo do campo de texto */
form div label {
    font-size: 18px;
    font-weight: 400;
    display: block;
    margin-bottom: 8px;
}

/* Estilização tanto do input quanto do textarea que estão dentro da div do formulário */
form div input, textarea {
    border-radius: 4px;
    width: 100%;
    padding: 8px 16px;
    background-color: var(--secondary-color);
    border: none;
    line-height: 22.5px;
    font-family: var(--font-family);
}

form div input {
    height: 39px;
}

textarea {
    height: 161px;
}

.lista-tags {
    display: flex;
}

/* Estilização dos itens da lista de tags */
.lista-tags li {
    background-color: var(--secondary-color);
    list-style-type: none;
    padding: 4px 8px;
    border-radius: 4px;
    display: flex;
    gap: 10px;
}

/* Estilização dos parágrafos que estão dentro dos itens da lista de tags */
.lista-tags li p {
    color: var(--itens-background);
}

/* Estilização dos botões de descartar e publicar. Seguem a mesma lógica de adicionar ícone do botão de carregar imagem */
.container-botoes {
    display: flex;
    gap: 24px;
    justify-content: space-between;
}

.container-botoes button {
    width: 199px;
    padding: 12px 32px 12px 12px;
    border-radius: 8px;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    text-align: center;
}

.botao-descartar {
    border: 1px solid var(--primary-color);
    background-color: var(--itens-background);
    color: var(--primary-color);
    position: relative;
}

.botao-descartar::after {
    content: "";
    background-image: url(./img/trash.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 15px;
    height: 15px;
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 8px;
}

.botao-publicar {
    background-color: var(--primary-color);
    color: var(--background-color);
    border: none;
    position: relative;
}

.botao-publicar::after {
    content: "";
    background-image: url(./img/arrow_forward2.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 15px;
    height: 15px;
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 8px;
}